    <section id="about_us">
        <h2>About Us</h2>
        <div class="container">
            <div class="A-banner-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="A1-left">
                            {% for about in aboutfirstcoll %}
                            <h1>{{about.title}}</h1>
                            <p>{{ about.description}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="A1-middle">
                            {% for about in aboutseceondcoll %}
                                <h1>{{about.title}}</h1>
                                <p>{{ about.description}}</p>
                            {% endfor %}
                            <div class="A3-button">
                                <a href="#">
                                    <button class="R-button" type="button">Registration Now</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
