{% load static %}
<section id="course-part">
    <h2 class="text-white">Courses Offered</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        {% for course in courses %}
                            {% if forloop.first %}
                                <div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}
                                <div class="col-xs-12 col-md-4">
                                    <a href="#1">
                                        <img src="{% static 'asset/image/computer.jpg' %}" class="img-responsive" alt="{{ course.name }}">
                                    </a>
                                    <p>{{ course.name }}</p>
                                    <div class="C03-button">
                                        <a href="#">
                                            <button type="button" class="see-more007">See more</button>
                                        </a>
                                    </div>
                                    <div class="C02-button">
                                        <a href="#">
                                            <button type="button" class="Course-reg07">Course registration</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
