{% extends 'base.html' %}
{% load static %}
{% block title %} Faqs{% endblock %}
{% block contain %}


<body>
    <section id="title0045">
        <div class="container">
            <div class="entry-title005-left">
                <h2>Your FAQ</h2> </div>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">FAQ</a></li>
            </ol>
        </div>
    </section>
    <section id="FAQgcenter002">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="faq-details357">
                    <div class="wrapper">
  <div class="half">
      {% for faq in faqs %}
    <h2>Student <strong>FAQs </strong></h2>
    <div class="tab">
        {% for i in faq.faq_details_set.all %}
        {% if i.is_active %}
      <label for="tab-one">{{ i.question }}</label>
      <div class="tab-content">
        <p>{{ i.answer }}</p>
      </div>
        {% endif %}
        {% endfor %}
    </div>
   {% endfor %}
  </div>

</div>

                    </div>

                </div>
                <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                    <a href="{% url 'registration' %}" class="reg-button6547">Registration Form</a>
                        <p>Book your Free Demo</p>

                    </figure>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="bootom-footer">
        <h4>@CopyRight By Slasstec-2017</h4> </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/isotape.function.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('.reg-button6547').click(function(){
                $('.full-form0056').toggle();
            });


        });
    </script>
</body>



{% block footer %}{% endblock %}
{% endblock %}