{% extends 'base.html' %}
{% load static %}
{% block titile %}EVA Coching{% endblock %}
{% block contain %}
    <!--    Slider section -->
{% include 'slider.html' %}
    <!--    about us section -->
{% include 'about.html' %}
    <!--    course offered -->
{% include 'course.html' %}
<!--    your video part-->
{% include 'video.html' %}

<!--    Admission ads-->


<section id="admission-ads">
    <div class="container">
        {% for faq in faqs %}
        <div class="row">
            <div class="col-md-6">
                <div class="admission0006">
                <h3>{{faq.title}}</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="askqes003">
                    <a href="{% url 'faq_details' faq.slug %}" class="ques008-button">ASK QUES</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!--    latest news part-->


    <section id="latest004">
        <div class="container">
            <h2>Latest News</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="coursr-01">
                        <h4>EnglishMate</h4>
                        <div class="course_02img"> <img src="{% static 'asset/image/education-background-checks.jpg' %}" alt="">
                            <h4>Why do we use it?</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                        </div>
                        <div class="C03-button">
                            <a href="#">
                                <button type="button" class="see-more007"> See more</button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="coursr-01">
                        <h4>Economics</h4>
                        <div class="course_02img"> <img src="{% static 'asset/image/education-background-checks.jpg' %}" alt="">
                            <h4>Where does it come from?</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                        </div>
                        <div class="C03-button">
                            <a href="#">
                                <button type="button" class="see-more007"> See more</button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="coursr-01">
                        <h4>Science</h4>
                        <div class="course_02img"> <img src="{% static 'asset/image/education-background-checks.jpg' %}" alt="">
                            <h4>Where can I get some?</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                        </div>
                        <div class="C03-button">
                            <a href="#">
                                <button type="button" class="see-more007"> See more</button>
                            </a>
                        </div>

                    </div>
                </div>
                  <div class="col-md-3">
                    <div class="coursr-01">
                        <h4>Top Ranker</h4>
                        <div class="course_02img"> <img src="{% static 'asset/image/education-background-checks.jpg' %}" alt="">
                            <h4>Where can I get some?</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                        </div>
                        <div class="C03-button">
                            <a href="#">
                                <button type="button" class="see-more007"> See more</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


<!--    faculty protfolio-->

    <section id="portfolio" class="text-center">
        <div class="container">
            <h2>Faculty</h2>
            <div id="filters" class="button-group">
                <button class="button is-checked" data-filter="*"><i class="fa fa-cubes" aria-hidden="true"></i></button>
                <button class="button" data-filter=".metal">Science</button>
                <button class="button" data-filter=".transition">Commerce </button>
                <button class="button" data-filter=".metal, .alkaline-earth">ARTS</button>
                <button class="button" data-filter=":not(.transition)">Other</button>
            </div>
            <div class="grid">
                <div class="element-item transition metal " data-category="transition"> <img src="{% static 'asset/image/tea%201.jpg' %}">
                    <div class="isotope-overlay">
                        <a href="#"><h4>R Gurucharan</h4></a>
                        <h5>DEAN (STUDENT SERVICES AND PARENT ENGAGEMENT) & HOD - MATHS (XI-XII)</h5>
                        <p>Mr. Gurucharan teaches across centres for classes XI-XII. He has been responsible for helping build the Mathematics department from inception. He is a...</p>
                        <div class="details005">
                       <a href="#"> <button class="teacher002details" type="button">See More</button></a>

                        </div>


                    </div>
                </div>
                <div class="element-item metalloid " data-category="metalloid"> <img src="{% static 'asset/image/tea%202.jpg' %}">
                    <div class="isotope-overlay">
                            <a href="#"><h4>R Gurucharan</h4></a>
                        <h5>DEAN (STUDENT SERVICES AND PARENT ENGAGEMENT) & HOD - MATHS (XI-XII)</h5>
                        <p>Mr. Gurucharan teaches across centres for classes XI-XII. He has been responsible for helping build the Mathematics department from inception. He is a...</p>
                        <div class="details005">
                        <a href="#"> <button class="teacher002details" type="button">See More</button></a>

                        </div></div>
                </div>
                <div class="element-item post-transition metal " data-category="alkaline-earth"> <img src="{% static 'asset/image/tea.jpg' %}">
                    <div class="isotope-overlay">
     <a href="#"><h4>R Gurucharan</h4></a>
                        <h5>DEAN (STUDENT SERVICES AND PARENT ENGAGEMENT) & HOD - MATHS (XI-XII)</h5>
                        <p>Mr. Gurucharan teaches across centres for classes XI-XII. He has been responsible for helping build the Mathematics department from inception. He is a...</p>
                      <div class="details005">
                          <a href="#"> <button class="teacher002details" type="button">See More</button></a>

                        </div>
                    </div>
                </div>


            </div>
             <div class="details003">
                 <a href="#"><button class="teacher002details-button" type="button">See More</button></a>

                        </div>
        </div>
    </section>

    <section class="googlemap003">
    <div class="container">
             <div class="row">
        <div class="mapshow004">

        <figure>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14608.039147952015!2d90.36710722258535!3d23.747030403454414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b33cffc3fb%3A0x4a826f475fd312af!2sDhanmondi%2C+Dhaka!5e0!3m2!1sen!2sbd!4v1505965878201" width="1150" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

            </figure>

        </div>
            </div>
        </div>



    </section>
{% endblock %}