 {% load static %}
 {% load embed_video_tags %}
    <section id="video-part">
        <h2>Concept Videos</h2>
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            <div class="video-009p">
                {% for item in videos %}
                {% video item.url '754x480' %}
                {{ item.title }}
                {% endfor  %}
            </div>

            </div>

            <div class="col-md-4">
            <div class="video-info08">
                {% for video in all_videos %}
                <div class="combo007">
                <div class="thumnil001">
                    <a href="{{video.url}}">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>

                </div>
                <div class="thum002-details">
                <a href="{{video.url}}" target="_blank">{{video.title}}</a>

                </div>
                </div>
                <br>
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </section>
