 {% load static %}
    <section id="video-part">
        <h2>Concept Videos</h2>
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            <div class="video-009p">
                <figure>
         <iframe width="754" height="480" src="https://www.youtube.com/embed/6dQXtSfN54k" frameborder="0" allowfullscreen></iframe>
                </figure>

            </div>

            </div>

            <div class="col-md-4">
            <div class="video-info08">
                <div class="combo007">
                <div class="thumnil001">
                    <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>

                </div>
                <div class="thum002-details">
                <a href="https://www.youtube.com/embed/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                <br>
                 <div class="combo007">
                <div class="thumnil001">
                 <a href="#"><img src="{% static 'asset/image/7.png' %}" alt="image"></a>
                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">Make a Mobile Icon and Add super cool animations! [Skill Development]</a>

                </div>
                </div>
                <br>
                  <div class="combo007">
                <div class="thumnil001">
                  <a href="#"><img src="{% static 'asset/image/7.png' %}" alt="image"></a>


                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">Easy Method of Creating Animation Scene in PowerPoint 2016 | The Teacher</a>

                </div>
                </div>
                <br>
                  <div class="combo007">
                <div class="thumnil001">
                 <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>


                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                <br>
                 <div class="combo007">
                <div class="thumnil001">
                 <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>


                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                <br>
                 <div class="combo007">
                <div class="thumnil001">
                <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>
                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                <br>
                  <div class="combo007">
                <div class="thumnil001">
                <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>
                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                  <div class="combo007">
                <div class="thumnil001">
                <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>
                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>
                  <div class="combo007">
                <div class="thumnil001">
                <a href="#">   <img src="{% static 'asset/image/7.png' %}" alt="image"></a>
                </div>
                <div class="thum002-details">
                <a href="https://youtu.be/6dQXtSfN54k" target="_blank">How To Animate an INTRO! [Skill Development]</a>

                </div>
                </div>

                </div>


            </div>

        </div>


        </div>


    </section>
