{% extends 'base.html' %}
{% load static %}
{% block title %}About Coaching Center{% endblock %}
{% block contain %}


<section id="title0045">
    <div class="container">
        <div class="entry-title005-left">
            <h2>About Coching Center</h2></div>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="#">Library</a></li>
        </ol>
    </div>
</section>
<section id="aboutcoachingcenter002">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for A in abouts %}
                <div class="deatils469">
                    <figure>
                        <img src="{{ A.image.url }}" alt="{{ A.title }}">
                    </figure>
                    <div class="deatils456-info">
                        <!-- Loop through related AboutCoachingDetails objects -->
                        {% for detail in A.aboutcoachingdetails_set.all %}
                        <h3>{{ detail.title }}</h3>
                        <p>{{ detail.description }}</p> <!-- Display the description dynamically -->
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                        <a href="{% url 'registration' %}" class="reg-button6547">Registration Form</a>
                        <p>Book your Free Demo</p>
                    </figure>

                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/isotape.function.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function () {
        $('.reg-button6547').click(function(){
            $('.full-form0056').toggle();
        });


    });
</script>


{% endblock %}