{% extends 'base.html' %}
{% load static %}
{% block title %}About Coaching Center{% endblock %}
{% block contain %}

<section id="title0045">
    <div class="container">
        <div class="entry-title005-left">
            <h2>Our Values</h2></div>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Values</a></li>
        </ol>
    </div>
</section>
<section id="aboutcoachingcenter002">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for x in values %}
                <div class="deatils469">
                    <div class="values-page5885">
                        <div class="valuedeatils356-info">
                            <p>{{ x.description }}</p>
                        </div>
                        <div class="valuedeatils356-info">
                            {% for i in x.OurValuesDetails_set.all %}
                            <h3>{{ i.title }}</h3>
                            <p>{{ i.description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="registration-form5y785">
                    <figure>
                        <button type="button" class="reg-button6547">Registration Form</button>
                        <p>Book your Free Demo</p>
                        <div class="full-form0056 animated fadeInRight">
                            <form>
                                <div class="name_form84775">
                                    <input type="text" class="name98" placeholder="First Name">
                                </div>
                                <div class="last-nmae00887">
                                    <input type="text" class="lname178" placeholder="Last Name">
                                </div>
                                <div class="email_form84875">
                                    <input type="text" class="email198" placeholder="Enter your Email">
                                </div>
                                <div class="mobile4878">
                                    <input type="text" class="mobilenum73" placeholder="Mobile Number">
                                </div>

                                <button type="button" class="submit-button6547">Submit</button>
                            </form>

                        </div>

                    </figure>

                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/isotape.function.js"></script>
<script src="js/main.js"></script>
<script>
    $(document).ready(function () {
        $('.reg-button6547').click(function(){
            $('.full-form0056').toggle();
        });


    });
</script>

{% endblock %}