{% load static %}

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="f-001">
                    <h3>Why Choose</h3>
                    <a href="#"><p>Why Studymate</p></a>
                    <a href="#"><p>Regular Testing and Feedback</p></a>
                    <a href="#"><p>Special Workshops</p></a>

                </div>
            </div>
            <div class="col-md-3">
                <div class="f-002">
                    <h3>Courses Offered</h3>
                    <a href="#"><p>class VI</p></a>
                    <a href="#"><p>Class VIII</p></a>
                    <a href="#"><p>Class IX</p></a>
                    <a href="#"><p>Class X</p></a>
                    <a href="#"><p>Class XI</p></a>
                    <a href="#"><p>Class XII</p></a>
                    <a href="#"><p>IELST</p></a>


                </div>
            </div>
            <div class="col-md-3">
                <div class="f-003">
                    <h3>Contact</h3>
                    <a href="#"><p>+008756364749</p></a>
                    <a href="#"><p>helpline@online.com</p></a>
                    <a href="#"><p>Facebook</p></a>
                    <a href="#"><p>Youtube</p></a>


                </div>
            </div>
            <div class="col-md-3">
                <div class="f-004">
                    <h3>Students Zone</h3>
                    <a href="#"><p>FAQ</p></a>
                    <a href="#"><p>News & Articles</p></a>
                    <a href="#"><p>Download Sample Paper</p></a>


                </div>
            </div>
        </div>

    </div>


</section>
<section id="bootom-footer">
    <h4>@CopyRight By Slasstec-2017</h4>

</section>